.grid {
  display: grid;
  grid-template-columns: 7fr 1fr;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.grid > span {
  padding: 8px 4px;
  border-right: 1px solid #c7c8cf;
  border-bottom: 1px solid #c7c8cf;
  background-color: white;
}

.grid > div {
  padding: 8px 50px;
  border-left: 1px solid #c7c8cf;
  border-bottom: 1px solid #c7c8cf;
  background-color: white;
}

.grid > h1 {
  background-color: #d0d6e7;
  height: 65px;
  font-size: 22px;
  align-items: center;
  font-weight: 600;
  display: flex;
  padding-left: 25px;
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.05);
  letter-spacing: 0.15em;
}
