.title {
  font-size: 14px;
  color: #8da1b5;
}

.titleSelected {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  width: 100%;
  padding-left: 14px;
}
