.container {
  margin-left: 25px;
  margin-right: 25px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tableTr {
  justify-content: space-between;
}
